DATABASE_URL="postgresql://postgres:postgres@localhost:5432/onna?schema=public"
NEXTAUTH_SECRET="super-secret-key-change-me"
NEXTAUTH_URL="http://localhost:3000"
STRIPE_SECRET_KEY="sk_test_..."
STRIPE_WEBHOOK_SECRET="whsec_..."
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_..."
UPLOAD_DIR="./public/uploads"
